<div class="container mt-5">
  <ul class="list-group">
    <app-todo-list-item
      *ngFor="let item of list;"
      [item]="item"
      (deleteEvent)="onDeleteItem($event)"
      (completeEvent)="onCompleteItem($event)"
    ></app-todo-list-item>
  </ul>
  <div 
  class="show-btns"
  (showAll)="onShowAllItems($event)"
  (showCompleted)="onShowCompleted($event)"
  (showUncompleted)="onShowUncompleted($event)"
  >
    <button class="btn btn-show_all" (click)="showAll.emit()">Показать все задачи</button>
    <button class="btn btn-show_completed" (click)="showCompleted.emit()">Показать завершенные задачи</button>
    <button class="btn btn-show_uncompleted" (click)="showUncompleted.emit()">Показать не завершенные задачи</button>
  </div>
    <!-- <ng-template ngFor let-item [ngForOf]="list">
    </ng-template> -->
</div>
<!-- /.container -->